
/* html {
    scroll-behavior: smooth;
} */

body {
    background-color: #dedede;
}

/* nav {
    background-color: #606066;
    color: #9799a7;
    display: block;
    padding: 0.25%;
    margin: auto;
    height: 5vh;
    /* width: vw; */
    /* height: 10vh; */
    /* grid-template-columns: 1fr; */
    /* justify-items: center; */
    /* row-gap: 10px; */
    /* column-gap: 10px; */
} */

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
    /* height: 100%; */
    /* width: 100%; */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

/* nav li {
    display: inline-block;
    margin: auto;
    padding: 1px;
    background-color: #04a14d;
    /* width: 20%; */
    /* justify-items: center; */
    /* margin: auto; */
    /* text-align: center;
    border: 1px solid;
    height: 95%; */
} */


/* li a {
    /* color: #000; */
    /* display: block;
    color: #9799a7;
    text-decoration: none;
    font-family:Arial, sans-serif;
    position: relative;
    top: 50%; */
} */

/* li a:hover {
    color: #000;
    background-color: #fff;
} */

/* li a.active {
    background-color: #0404aa;
     color: white;
} */

/* h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    /* font-size: 32px; */
} */

/* p {
    font-size: 1.25em;
    font-family:Arial, sans-serif;
    text-align:left;
} */

/* div {
    /* display: grid; */
    /* padding: 0.25%;
    margin: auto;
    width: 90vw; */
    /* grid-template-columns: 1fr; */
    /* justify-items: center; */
    /* row-gap: 10px; */
    /* column-gap: 10px; */
} */

/* figcaption {
    text-align: center;
    font-size: 1.25em;
} */

/* figure {
    /* width:150px;
    height: 150px; */
    /* border-style: solid;
    border-width: 5px;
    border-color: #04a14d;
    padding: 3%;
    background: #dca;
    color: #731;
    border-radius: 2%; */
} */

/* figure img {
    display:block;
    margin:auto;
    width:100%;
} */

/* @media screen and (min-width: 772px)
{
    /* div {
        grid-template-columns: 1fr 1fr;
    } */
    /* figure {
        border-radius: 50%;
        
    }
    figure img {
        border-radius: 50%;
    }
    figure:last-child {
        grid-column-start: 1;
        grid-column-end: 3;
    } */
} */

/* @media screen and (min-width: 998px) {
    figure {
        border-radius: 0%;
        
    }
    figure img {
        border-radius: 0%;
    }
    figure:nth-child(3n) {
        grid-column-start: 1;
        grid-column-end: 3;
    }
} */

/* @media (prefers-reduced-motion) {
    html {
        scroll-behavior: auto;
    }
  } */

  /* @media (prefers-color-scheme: dark) {
    figure {
      background: #753;
      color: #dcb;
      border-color: #000;
    }
  } */

